In [1]:
s={}
s

{}

In [2]:
type(s)

dict

In [3]:
s1=set()
s1

set()

In [4]:
type(s1)

set

In [5]:
s1.add(20)
s1

{20}

In [6]:
s1.add(30,40)

TypeError: set.add() takes exactly one argument (2 given)

In [7]:
s1

{20}

In [8]:
s1.add(10)
s1.add(100)
s1.add(25)
s1

{10, 20, 25, 100}

In [9]:
s1[0]

TypeError: 'set' object is not subscriptable

In [10]:
s1{:}

SyntaxError: invalid syntax (416174844.py, line 1)


s2=set()

In [11]:
s2

NameError: name 's2' is not defined

In [12]:
s3=set()
s3

set()

In [13]:
s3.add(10)
s3.add(1.2)
s3.add(1+2j)
s3.add(True)
s3.add('nit')
s3

{(1+2j), 1.2, 10, True, 'nit'}

In [14]:
print(s1)
print(s3)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}

In [16]:
id(s1)==id(s3)

False

In [18]:
s4=s3.copy()
s4

{(1+2j), 1.2, 10, True, 'nit'}

In [19]:
s3==s4

True

In [20]:
print(s1)
print(s3)
print(s4)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}
{1.2, True, (1+2j), 10, 'nit'}

In [21]:
s3.pop()

1.2

In [22]:
s3.pop()

True

In [27]:
s3.remove(10)
s3

{'nit'}

In [28]:
s3

{'nit'}

In [29]:
s3.remove(1000)

KeyError: 1000

In [31]:
s3.discard(1000)

In [33]:
s3.discard(True)
s3

{'nit'}

In [34]:
for i in s3:
    print(i)

nit

In [35]:
for i in enumerate(s3):
    print(i)

(0, 'nit')

In [ ]:
#set creations

In [36]:

set={1,2,3,4,5}  #set of numbers
set

{1, 2, 3, 4, 5}

In [37]:
len(set) # length of the  set

5

In [38]:
set={1,1,2,2,3,3,4,4,5,5,} #dulicate element are not allowed.
set

{1, 2, 3, 4, 5}

In [40]:
set1={1.34,2.32,1.23,4.33}#set of float number
set1

{1.23, 1.34, 2.32, 4.33}

In [41]:
set2={'shashi','hakeem','ajay'}# set of string
set2

{'ajay', 'hakeem', 'shashi'}

In [43]:
set3={10,20,"hola",(11,22,33)}#mixed datatype
set3

{(11, 22, 33), 10, 20, 'hola'}

In [44]:
set3={10,20,"hola",[11,22,33]}#set doesn't allow mutable items like list 
set3

TypeError: unhashable type: 'list'

In [54]:
set4 = set() # Create an empty set 
print(type(set4))

TypeError: 'set' object is not callable

In [57]:
s_1=set(('one','two','three','four'))
s_1

TypeError: 'set' object is not callable

In [ ]:
# loop through  a set

In [58]:
s={'one','two','three','four','five','six','seven','eight'}
for i in s:
    print(i)

four
five
eight
six
two
seven
one
three

In [59]:
for i in enumerate(s):
    print(i)

(0, 'four')
(1, 'five')
(2, 'eight')
(3, 'six')
(4, 'two')
(5, 'seven')
(6, 'one')
(7, 'three')

# set member

In [60]:
s

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [61]:
'one'in s # check if 'one' exist in the set

True

In [62]:
'nine'in s # check if 'nine' exist in the set

False

In [64]:
if 'one'in s: # check if 'one' exist in the set
  print ('one is present in the set')
else:
  print ('one is not present in the set')

one is present in the set

In [68]:
if 'ten'in s: # check if 'ten' exist in the set
  print ('ten is present in the set')
else:
   print ('ten is not present in the set')

ten is not present in the set

#add & remove items

In [69]:
s

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [70]:
s.add('nine') # addd item to a set using add() method
s

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

{'E',
 'ELEVEN',
 'L',
 'N',
 'T',
 'TEN',
 'TWELEVE',
 'V',
 'W',
 'e',
 'eight',
 'five',
 'four',
 'l',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'three',
 'two',
 'v',
 'w'}

In [79]:
S.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using 
S

NameError: name 'S' is not defined

In [80]:
S

NameError: name 'S' is not defined

In [81]:
s={'one','two','three','four','five','six','seven','eight'}
for i in s:
    print(i)

four
five
eight
six
two
seven
one
three

In [82]:
S.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
S

NameError: name 'S' is not defined

In [84]:
S.REMOVE(['TWO']) # Add multiple item to a set using

NameError: name 'S' is not defined

In [85]:
s8={'one','two','NINE','three','four','five','six','seven','eight'}
for i in s8:
    print(i)

four
five
eight
six
two
seven
one
NINE
three

In [88]:
s8.remove('two') # Add multiple item to a set using
s8

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three'}

In [89]:
s8.discard('five')
s8

{'NINE', 'eight', 'four', 'one', 'seven', 'six', 'three'}

In [90]:
 
s8.clear() # Delete all items in a set 
s8

set()

In [91]:
 del s8  # delete the set object
s8

NameError: name 's8' is not defined

# copy set

In [92]:
s

NameError: name 's8' is not defined

In [93]:
s9={'one','two','NINE','three','four','five','six','seven','eight'}
s9

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [94]:
s10=s9# create a new reference "s10"
s10

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [95]:
id(s9),id(s10)# address of both s9and s10

(2709815982592, 2709815982592)

#set operations

#union

In [3]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
A | B #UNION of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#INTERSECTION

In [6]:
A={1,2,3,4,5}
B={4,5,6,7,8}
A&B #intersection of a and b

{4, 5}

In [7]:
A.intersection(B)

{4, 5}

# difference

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [8]:
A-B # set of elements thaat are only in A but  NOT in B

{1, 2, 3}

In [9]:
A.difference(B)

{1, 2, 3}

In [10]:
B-A

{6, 7, 8}

In [13]:
B.difference (A)

{6, 7, 8}

# symmetric difference

In [ ]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [14]:
A^B # SYMMETRIC DIFFERENCE (set of a and b but not common one)

{1, 2, 3, 6, 7, 8}

In [15]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

# SUBSET, SUPERSET, DISJOINT

In [17]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40} 
B.issubset(A)

True

In [18]:
B.issubset(A)# set B is said to be the subset of set A if all elements of B are

True

In [19]:
A.issuperset(B)

True

In [21]:
C.isdisjoint(A)

True

In [22]:
B.isdisjoint(A)

False

#0ther builtin funstions

In [23]:
A{1,2,3,4,5,6,7,8,9,}
A

SyntaxError: invalid syntax (2919844469.py, line 1)

In [24]:
sum(A)

45

In [25]:
max(A)

9

In [27]:
min(A)

1

In [28]:
len(A)

9

In [29]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [30]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Dictionary

In [ ]:
create Dictionary

In [35]:
setdict=dict() # empty dictionary
setdict

{}

In [36]:
setdict={}
setdict

{}

In [38]:
setdict={1:'one',2:'two',3:'three'}# integer keys
setdict

{1: 'one', 2: 'two', 3: 'three'}

In [39]:
setdict=({1:'one',2:'two',3:'three'})#  create using dict()
setdict

{1: 'one', 2: 'two', 3: 'three'}

In [40]:
setdict={'A':'one','B':'two','C':'three'}# character keys
setdict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [41]:
setdict={1:'one','B':'two','C':'three'}# MIXED keys
setdict

{1: 'one', 'B': 'two', 'C': 'three'}

In [42]:
setdict.keys()  # Return Dictionary Keys using keys() method

dict_keys([1, 'B', 'C'])

In [43]:
setdict.values()

dict_values(['one', 'two', 'three'])

In [44]:
setdict.items()

dict_items([(1, 'one'), ('B', 'two'), ('C', 'three')])

In [46]:

setdict={1:'one',2:'two','A':['shashi','hakeem','ajay']}
setdict

{1: 'one', 2: 'two', 'A': ['shashi', 'hakeem', 'ajay']}

In [48]:
setdict={1:'one',2:'two','A':['shashi','hakeem','ajay'],'B':['sattu','ravi','sujeeth']}
setdict

{1: 'one',
 2: 'two',
 'A': ['shashi', 'hakeem', 'ajay'],
 'B': ['sattu', 'ravi', 'sujeeth']}

In [49]:
keys={'a','b','c','d'}
value=10
setdict=dict.fromkeys(keys,value)
setdict

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [50]:
keys={'a','b','c','d'}
value=[10,20,30]
setdict=dict.fromkeys(keys,value)
setdict

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [51]:
value.append(40)
setdict

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

add,remove& change items

In [52]:
 
setdict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [53]:
 
setdict1['DOB'] = 1992 # Changing Dictionary Items 
setdict1['Address'] = 'Delhi' 
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [57]:
 
setdict1.pop('id') 
setdict1

KeyError: 'id'

In [58]:
setdict1['Job'] = 'Analyst' # Adding items in the dictionary 
setdict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [60]:
setdict1.pop('Job') 
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [61]:
setdict1.popitem() # random item is removed
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [62]:
del[setdict1['ID']] #removing items using del
setdict1

{'Name': 'Asif', 'DOB': 1992}

In [65]:
setdict1.clear() #delete all items of the dictionary
setdict

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [64]:
setdict1.clear()
setdict1

{}

In [66]:
setdict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [67]:
for i in setdict1:
    print(i,':',setdict1[i])# key &value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [70]:
for i in setdict1:
    print(setdict1[i])#dictionary items

Asif
12345
1991
Hilsinki

In [71]:
all(setdict1)

True

In [72]:
any(setdict1)

True

In [73]:
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [75]:
setdict1.append(0)

AttributeError: 'dict' object has no attribute 'append'

In [77]:
setdict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 ,'roll':0, 'Job': 'Analyst'}
setdict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'roll': 0, 'Job': 'Analyst'}

In [78]:
any(setdict1)

True